html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.parentdiv {
  height: 95%;
}
#root {
  height: 90%;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NEW */

.logo {
  /* margin: 10px; */
  height: 30px;
  width: 80px;
  /* line-height: 30px; */
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin: 10px; */
  /* background-color: silver; */
}

.controlpanel {
  /* background-color: aqua; */
  flex: 0.1;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: right; */
  padding: 5px;
  justify-content: space-around;
  /* margin: 10px; */
}

.controlPanelSection1 {
  /* background-color: pink; */
  flex: 0.9;
  /* parent properties*/
  display: flex;
  justify-content: start;
}

.controlPanelSection2 {
  padding: 5px;
  /* background-color: greenyellow; */
  /* flex: 0.2; */
  /* parent properties*/
  display: flex;
}

.cp-section1items {
  margin-right: 5px;
  flex: 0.5;
}
.cp-section2items {
  margin-right: 5px;
}

.vizpanel {
  /* background-color: pink; */
  flex: 2;
  padding: 5px;

  /* parent properties for viztools*/
  /* height: 100%; */

  /*using grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 5px; */
  /* display: flex; */
}

.svgcontainer {
  /* background-color: powderblue; */
  /* border: solid 1px#D2D2CF; */
  margin: 5px;
  color: rgb(110, 106, 106);
}

.map_tool {
  margin: 5px;
  /* border: solid 1px#D2D2CF; */
  /* grid-column-start: 1; */
  /* grid-column-end: span col2-end; */
  /* grid-row-start: 1;
  grid-row-end: span row2-end; */
  /* border: solid 1px rgb(90, 169, 214); */
}

.textTool {
  /* border: solid 1px#D2D2CF; */
  /* background-color: burlywood; */
  overflow-y: auto;
  margin: 5px;
  /* padding: 30px; */
}

.vizTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
